.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 20vw) auto;
      grid-template-columns: minmax(100px, 20vw) auto;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center;
  background-color: grey;
  padding: 10px;
}

.header__image {
  width: 100%;
  margin-left: 3.5vw;
}

.header__title {
  font-size: 4.4vw;
  color: white;
  text-transform: uppercase;
}

@media (min-width: 767px) {
  .header__title {
    font-size: 3.5vw;
  }
}

@media (orientation: portrait) {
  .header__title {
    font-size: 4vh;
  }
}

.current_weather {
  position: absolute;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: auto 3fr;
      grid-template-rows: auto 3fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  top: calc(8vh + 9vw);
}

.current_weather__form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.current_weather__form_input {
  border-style: none;
  border-radius: 5px;
  border: 1px solid #eb6e4b;
  font-size: calc(1.5vw + 1vh);
  padding: calc(0.5vw + 0.5vh);
  outline-style: none;
  color: gray;
  cursor: pointer;
  /* clears the 'X' from Chrome */
}

@media (orientation: portrait) {
  .current_weather__form_input {
    font-size: 3vh;
  }
}

.current_weather__form_input::-webkit-search-decoration, .current_weather__form_input::-webkit-search-cancel-button, .current_weather__form_input::-webkit-search-results-button, .current_weather__form_input::-webkit-search-results-decoration {
  display: none;
  width: 0;
  height: 0;
}

.current_weather__form_btn {
  border-style: none;
  border-radius: 5px;
  border: 1px solid #eb6e4b;
  outline-style: none;
  margin-left: 2vw;
  color: gray;
  cursor: pointer;
  background-color: inherit;
  font-size: calc(1.5vw + 1vh);
  padding: calc(0.5vw + 0.5vh);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (orientation: portrait) {
  .current_weather__form_btn {
    font-size: 3vh;
  }
}

.current_weather__form_btn:hover {
  color: white;
  background-color: #eb6e4b;
}

.current_weather .current_weather__list {
  margin-left: 10vw;
  margin-top: 3vh;
}

.current_weather .current_weather__list_header {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: 3fr 3fr 2fr 2fr;
      grid-template-rows: 3fr 3fr 2fr 2fr;
}

@media (orientation: portrait) {
  .current_weather .current_weather__list_header {
    -ms-grid-rows: 2fr 3fr 2fr 2fr;
        grid-template-rows: 2fr 3fr 2fr 2fr;
  }
}

.current_weather .current_weather__list_header_city {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: calc(1.6vw + 1.6vh);
  font-weight: 500;
  color: #eb6e4b;
}

.current_weather .current_weather__list_header_img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 8vh;
}

.current_weather .current_weather__list_header_temp {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: calc(2vw + 2vh);
  margin-left: 5vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (orientation: portrait) {
  .current_weather .current_weather__list_header_temp {
    margin-left: 15vw;
  }
}

.current_weather .current_weather__list_header_description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.current_weather .current_weather__list_header_date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

body .wrapper {
  position: relative;
}

body .hidden {
  display: none;
}

body .active {
  display: block;
}
/*# sourceMappingURL=style.css.map */