.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 20vw) auto;
      grid-template-columns: minmax(100px, 20vw) auto;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center;
  background-color: grey;
  padding: 10px;
}

.header__image {
  width: 70%;
  margin-left: 3.5vw;
}

.header__title {
  font-size: 3.5vw;
  color: white;
  text-transform: uppercase;
}

@media (min-width: 767px) {
  .header__title {
    font-size: 3.5vw;
  }
}

@media (orientation: portrait) {
  .header__title {
    font-size: 4vh;
  }
}

.current_weather {
  position: absolute;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: auto 3fr;
      grid-template-rows: auto 3fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  top: calc(6vh + 7vw);
}

@media (orientation: portrait) {
  .current_weather {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.current_weather_form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (orientation: portrait) {
  .current_weather_form {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 10vw;
  }
}

.current_weather_form__input {
  border-style: none;
  border-radius: 5px;
  border: 1px solid #eb6e4b;
  font-size: calc(1.5vw + 1vh);
  padding: calc(0.5vw + 0.5vh);
  outline-style: none;
  color: gray;
  cursor: pointer;
  /* clears the 'X' from Chrome */
}

@media (orientation: portrait) {
  .current_weather_form__input {
    font-size: 2.5vh;
  }
}

.current_weather_form__input::-webkit-search-decoration, .current_weather_form__input::-webkit-search-cancel-button, .current_weather_form__input::-webkit-search-results-button, .current_weather_form__input::-webkit-search-results-decoration {
  display: none;
  width: 0;
  height: 0;
}

.current_weather_form__btn {
  border-style: none;
  border-radius: 5px;
  border: 1px solid #eb6e4b;
  outline-style: none;
  color: gray;
  cursor: pointer;
  background-color: inherit;
  padding: calc(0.5vw + 0.5vh);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: calc(1.5vw + 1vh);
  margin-left: 2vw;
}

@media (orientation: portrait) {
  .current_weather_form__btn {
    font-size: 2.5vh;
  }
}

.current_weather_form__btn:hover {
  color: white;
  background-color: #eb6e4b;
}

.current_weather .current_weather_list {
  margin-left: 10vw;
  margin-top: 3vh;
}

.current_weather .current_weather_list_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 3fr 2fr 2fr;
      grid-template-rows: 3fr 3fr 2fr 2fr;
}

@media (orientation: portrait) {
  .current_weather .current_weather_list_header {
    -ms-grid-rows: 2fr 3fr 2fr 2fr;
        grid-template-rows: 2fr 3fr 2fr 2fr;
    font-size: calc(1.6vw + 1.6vh);
  }
}

.current_weather .current_weather_list_header__city {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: calc(1.5vw + 1.5vh);
  font-weight: 500;
  color: #eb6e4b;
}

@media (orientation: portrait) {
  .current_weather .current_weather_list_header__city {
    font-size: calc(2.7vw + 2.7vh);
  }
}

.current_weather .current_weather_list_header__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: start;
      justify-self: start;
  width: 8vh;
}

.current_weather .current_weather_list_header__temp {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: calc(2vw + 2vh);
  margin-left: 7vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (orientation: portrait) {
  .current_weather .current_weather_list_header__temp {
    margin-left: 15vw;
    font-size: calc(3vw + 3vh);
  }
}

.current_weather .current_weather_list_header__description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: calc(0.7vw + 1.6vh);
}

@media (orientation: portrait) {
  .current_weather .current_weather_list_header__description {
    font-size: calc(1.7vw + 1.7vh);
  }
}

.current_weather .current_weather_list_header__date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  font-size: calc(0.7vw + 1.6vh);
}

@media (orientation: portrait) {
  .current_weather .current_weather_list_header__date {
    font-size: calc(1.7vw + 1.7vh);
  }
}

.current_weather .current_weather_list_main {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (orientation: portrait) {
  .current_weather .current_weather_list_main {
    font-size: calc(2vw + 2vh);
  }
}

.current_weather .current_weather_list_main tr:nth-child(odd) {
  background: #eee;
}

.current_weather .current_weather_list_main td {
  border: 1px solid black;
  padding: 1vh 2vh;
}

@media (orientation: portrait) {
  .current_weather_hourly_forecast {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.current_weather_hourly_forecast__btn {
  border-style: none;
  border-radius: 5px;
  border: 1px solid #eb6e4b;
  outline-style: none;
  color: gray;
  cursor: pointer;
  background-color: inherit;
  padding: calc(0.5vw + 0.5vh);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  width: 20vw;
  top: 15vh;
  left: 48vw;
  font-size: calc(1vw + 1vh);
  display: block;
}

@media (orientation: portrait) {
  .current_weather_hourly_forecast__btn {
    font-size: 2.5vh;
  }
}

.current_weather_hourly_forecast__btn:hover {
  color: white;
  background-color: #eb6e4b;
}

@media (orientation: portrait) {
  .current_weather_hourly_forecast__btn {
    width: auto;
    top: 72vh;
    left: 10vw;
  }
}

.current_weather_hourly_forecast_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin-top: 3vh;
  width: 80%;
}

@media (orientation: portrait) {
  .current_weather_hourly_forecast_list {
    margin-left: 10vw;
  }
}

.current_weather_hourly_forecast_list__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: calc(1.5vw + 1.5vh);
  font-weight: 500;
  color: #eb6e4b;
}

@media (orientation: portrait) {
  .current_weather_hourly_forecast_list__title {
    font-size: calc(2.7vw + 2.7vh);
  }
}

.current_weather_hourly_forecast_list__date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  border: 0.5px solid black;
  margin-top: 2vh;
  padding: 1vh 2vh;
  background: #eee;
  font-size: calc(0.6vw + 2vh);
}

.current_weather_hourly_forecast_list_block1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2vh;
  padding: 2vh 0;
  font-size: calc(0.6vw + 2vh);
}

.current_weather_hourly_forecast_list_block2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: row;
  padding: 2vh 0;
  font-size: calc(0.6vw + 2vh);
}

.current_weather_hourly_forecast_list_block2__temp {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: gray;
  color: white;
  width: 5vw;
  border-radius: 10px;
  text-align: center;
}

@media (orientation: portrait) {
  .current_weather_hourly_forecast_list_block2__temp {
    width: 10vw;
  }
}

.current_weather_hourly_forecast_list_block2__description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

body .wrapper {
  position: relative;
}

body .hidden {
  display: none;
}

body .active {
  display: -ms-grid;
  display: grid;
}

body .border-bottom {
  border-bottom: 0.5px solid black;
  margin-left: 0;
}
/*# sourceMappingURL=style.css.map */