@import "header";
@import "main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  .wrapper {
    position: relative;
  }
  .hidden {
    display: none;
  }
  .active {
    display: grid;
  }
  .border-bottom {
    border-bottom: 0.5px solid black;
    margin-left: 0;
  }
}
